html {
  --mainColor: #337AB7;
  --secondColor: #1a4a73;
  --firstBackgroundColor: #FFF;
  --secondBackgroundColor: #edf7ff;
  --paginationBorderRadius: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: none;
}

.Center-alignment {
  display: flex;
  justify-content: center;
}

.bg-primary {
  background-color: var(--secondBackgroundColor) !important;
}

.text-primary {
  color: var(--mainColor) !important;
}

.text-second {
  color: var(--secondColor) !important;
}

.text-black {
  color: black !important;
}